<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/error_icon.png" alt="">
  </div>
  <div class="headings">
    <h2>Some Error Occured</h2>
    <a href="/" class="btn">Go to Home</a>
  </div>
</header>


<%- include('partials/footer'); -%>