<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/notepad.png" alt="">
  </div>
  <div class="headings">
    <h2>Golden Notes</h2>
    <h3>By Sumit Prajapati</h3>
    <a href="/notes" class="btn">View Notes</a>
  </div>
</header>


<%- include('partials/footer'); -%>