<%- include('../partials/header'); -%>

    <form action="/notes/create" method="POST">
        <h2>New Note</h2>
        <label for="text">Write the note</label>
        <input type="text" name="text" required />
        <button>Create</button>
    </form>

   

<%- include('../partials/footer'); -%>